<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='12'%20style='filter:%20invert(58%)%20sepia(63%)%20saturate(364%)%20hue-rotate(85deg);'%3E●%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{% include 'estilos_base.css' %}
.content {
  margin: 0 auto 100px;
  max-width: 700px;
  height: 250px;
  padding: 0 20px 0 20px;
}
.flex-column {
  flex-direction: column;
}
.crear-encuesta {
  width: max-content;
}
</style>
</head>
<body>
<header>
  <div>
    <h1></h1>
    <h2><a class="nolink" href="/">Tareas</a></h2>
    <span class="right">{{ first_name|default('') }} {{ last_name|default('') }}</span>
  </div>
</header>
<div class="content">
  <h2>Preguntas</h2>
  <form action="/preguntas/{{ encuesta_plantilla_id }}/configurar" method="post">
    <textarea name="preguntas_yaml" rows="20" cols="80">
{%- for p in preguntas %}
{{ p.id_editor }}: {{ p.texto }}{% if p.respuesta_multiple %}*{% endif %}
  {%- for o in p.preguntaopcion_set.all() %}
- {% if o.texto == 'no'%}"no"{% else %}{{ o.texto }}{% endif %}
  {%- endfor %}
{% endfor %}
    </textarea>
    {{ csrf_input }}
    <br />
    <input class="guardar" type="submit" value="Guardar" />
  </form>
  <form class="flex flex-column" action="/encuesta_instancia/nueva" method="post">
    <p>Crear encuesta desde esta plantilla</p>
    <div>
      <label for="curso">Curso: </label>
      <select name="curso">
{% for c in cursos %}
        <option value="{{ c.id }}">{{ c.nombre }}</option>
{% endfor %}
      </select>
    </div>
    {{ csrf_input }}
    <input type="hidden" name="encuesta_plantilla_id" value="{{ encuesta_plantilla_id }}" />
    <input type="submit" class="crear-encuesta" value="Crear encuesta" />
  </form>
</div>
</body>
</html>
