<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='12'%20style='filter:%20invert(58%)%20sepia(63%)%20saturate(364%)%20hue-rotate(85deg);'%3E●%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{% include 'estilos_base.css' %}
.content {
  margin: 0 auto 100px;
  max-width: 700px;
  height: 250px;
  padding: 0 20px 0 20px;
}
.content p, .content li {
  margin: 0.3em 0;
  font-size: 1.2em;
}
.content ol {
  padding-left: 1.2em;
}
{%- if not mostrar_resultados %}
input[type='radio'], input[type='checkbox'] {
  transform: scale(1.5);
  margin: 0.4em;
}
label {
  font-size: 1.4em;
  margin-left: 0.4em;
}
input.guardar {
  width: 25%;
  height: 2.2em;
  font-size: 1.2em;
}
.flex-dir-col {
  flex-direction: column;
}
.row {
  align-items: start;
  margin-bottom: 1em;
}
{% else %}
.grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #aaa;
  background: repeating-linear-gradient(0deg, transparent, transparent 24.3%, #ccc 25%);
  margin-bottom: 50px;
}
.bar {
  background-color: #f17020;
  width: 45px;
  height: var(--bar);
  align-self: flex-end;
  margin: 0 auto;
  border-radius: 3px 3px 0 0;
  position: relative;
}
.bar::after {
  content: attr(data-count);
  top: -3em;
  padding: 20px;
  position: absolute;
}
.bar::before {
  content: attr(data-name);
  top: 100%;
  padding: 10px 0 0 20px;
  position: absolute;
}
{%- endif %}
</style>
{%- if mostrar_resultados or request.user.is_staff %}
<script>
let t = {{ tiempo_ultimo_cambio }};
const timer = ms => new Promise(res => setTimeout(res, ms))
f = async () => {
  while (true) {
    let r = await fetch('/api/encuesta_instancia/{{ encuesta_instancia_id }}/ultimo_cambio');
    let t2 = await r.text();
    if(t != t2) {
      window.location.reload(false);   
    }
    await timer(3000);
  }
}
f();
</script>
{%- endif %}
</head>
<body>
<header>
  <div>
    <h1></h1>
    <h2><a class="nolink" href="/">Tareas</a></h2>
    <span class="right">{{ first_name|default('') }} {{ last_name|default('') }}</span>
  </div>
</header>
{%- if pregunta %}
  {%- if not mostrar_resultados %}
<div class="content">
  <h2>{{ pregunta.texto }}</h2>
  <form class="flex flex-dir-col" action="/preguntas" method="post">
      {% for o in opciones %}
        {%- if pregunta.respuesta_multiple %}
    <div class="flex row">
    <input type="checkbox" id="{{ o.id }}" name="opcion_id" value="{{ o.id }}">
    <label for="{{ o.id }}">{{ o.orden|orden_como_letra }}. {{ o.texto }}</label></br>
    </div>
	{% else %}
    <div class="flex row">
    <input type="radio" id="{{ o.id }}" name="opcion_id" value="{{ o.id }}">
    <label for="{{ o.id }}">{{ o.orden|orden_como_letra }}. {{ o.texto }}</label></br>
    </div>
        {%- endif %}
      {% endfor %}
    <input type="hidden" name="pregunta_instancia_id" value="{{ pregunta_instancia.id }}" />
    {{ csrf_input }}
    <br />
    <input class="guardar" type="submit" value="Guardar" />
  </form>
{%- if request.user.is_staff %}
    <form class="flex" action="/preguntas/mostrar_resultados" method="post">
      <input type="hidden" name="pregunta_instancia_id" value="{{ pregunta_instancia.id }}" />
      {{ csrf_input }}
      <input class="right" type="submit" value="Mostrar resultados" />
    </form>
    <p>Respuestas: {{ respuestas|length }}</p>
{%- endif %}
</div>
  {% else %}
<div class="content">
  <h2>Respuestas: {{ pregunta.texto }}</h2>
  <div class="grid">
    {%- for r in resultados %}
    <div class="bar" style="--bar:{{ r.bar_value }}%;" data-name="{{ r.orden|orden_como_letra }}." data-count="{{ r.conteo }}"></div>
    {%- endfor %}
  </div>
  <ol type="a">
    {%- for r in resultados %}
  <li>{{ r.texto }}</li>
    {%- endfor %}
  </ol>
    {%- if request.user.is_staff %}
  <form class="flex" action="/encuesta_instancia/{{ encuesta_instancia_id }}/siguiente_pregunta" method="post">
    {{ csrf_input }}
    <input class="right" type="submit" value="{{ texto_boton_admin }}" />
  </form>
    {%- else %}
      {%- if respuestas|length > 1 %}
  <p><strong>Elegiste las opciones {{ respuestas|map(attribute='pregunta_opcion')|map(attribute='orden')|map('orden_como_letra')|join(', ') }}.</strong></p>
      {%- else %}
  <p><strong>Elegiste la opción {{ respuestas[0].pregunta_opcion.orden|orden_como_letra }}.</strong></p>
      {%- endif %}
    {%- endif %}
</div>
  {%- endif -%}
{% else %}
<div class="content">
<br />
<p>No hay preguntas activas en este momento. Espera hasta que los profes activen nuevas preguntas.</p>
</div>
{%- endif %}
</body>
</html>
