* {
  box-sizing: border-box;
}
body {
  font-family: Roboto,sans-serif;
  padding-top: 4em;
  background-color: #fafafa;
  color: #333;
  margin: 0;
}
header {
  background: #f0f0f0;
  height: 74px;
  border-bottom: 1px solid #ddd;
  box-shadow: #00000025 0 0 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header > div {
  height: 4em;
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0;
}
.nolink {
  text-decoration: none;
  color: inherit;
}
header h2 {
  padding: 18px 0 0;
}
h1 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  padding: 18px 10px 5px 10px;
}
h2 {
  color: #777;
}
.flex {
  display: flex;
}
.right {
  margin-left: auto;
  align-self: end;
}
