<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='12'%20style='filter:%20invert(58%)%20sepia(63%)%20saturate(364%)%20hue-rotate(85deg);'%3E●%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{% include 'css/estilos_tabla.css' %}
textarea {
  margin-bottom: 10px;
}
</style>
<noscript>
<style>
{% include 'css/estilos_tabla_noscript.css' %}
</style>
</noscript>
</head>
<header>
  <div>
    <h1></h1>
    <h2><a class="nolinkstyle" href="/">Tareas</a></h2>
  </div>
</header>
<div class="table-container">
  <h2>Agregar nota para {{ estudiante }}, Semana {{ semana_tarea }}, {{ nombre_tarea }} - {{ estado }}</h2>
  <form action="/revisar/guardar_nota" method="post">
    <textarea name="nota" rows="8" cols="80"></textarea>
    <div>
      <input type="submit" value="Guardar" />
    </div>
    <input type="hidden" name="tarea_estudiante_id" value="{{ tarea_estudiante_id }}" />
    <input type="hidden" name="estado" value="{{ estado }}" />
    {% csrf_token %}
  </form>
</div>
</body>
</html>
