<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='12'%20style='filter:%20invert(58%)%20sepia(63%)%20saturate(364%)%20hue-rotate(85deg);'%3E●%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{% include 'css/estilos_tabla.css' %}
</style>
<noscript>
<style>
{% include 'css/estilos_tabla_noscript.css' %}
</style>
</noscript>
<style>
.w100 {
  width: 100%;
  text-align: left;
  border-bottom: none;
}
.flex-row:first-child {
  padding-top: 20px;
}
.flex-row:last-child {
  padding-bottom: 20px;
}
.flex-row {
  border-right: none;
}
blockquote {
  font-style: italic;
  margin: 16px 20px 16px 20px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
}
</style>
<header>
  <div>
    <h1></h1>
    <h2><a class="nolinkstyle" href="/">Tareas</a></h2>
  </div>
</header>
<div class="table-container">
<h2>Detalles de la tarea "Semana {{ semana_tarea }}, {{ nombre_tarea }}" - {{ estado }}</h2>
{% for evento in eventos %}
  <div class="flex-table row">
    <div class="flex-row w100 flex-table"><strong>{{ evento.user.first_name }} {{ evento.verbo }} la tarea.</strong><span class="right">{{ evento.tiempo|date:"D, j \d\e F, "|lower|default:"-" }} {{ evento.tiempo|time:"H:i"|default:"" }}</span></div>
  {% if evento.notas %}
  <div class="flex-row w100 flex-table"><blockquote>{{ evento.notas|safe|default:"" }}</blockquote></div>
  {% endif %}
  </div>
{% endfor %}
</div>
