<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='12'%20style='filter:%20invert(58%)%20sepia(63%)%20saturate(364%)%20hue-rotate(85deg);'%3E●%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{% include 'css/estilos_tabla.css' %}
</style>
<noscript>
<style>
{% include 'css/estilos_tabla_noscript.css' %}
</style>
</noscript>
<style>
.flex {
  display: flex;
}
</style>
<header>
  <div>
    <h1></h1>
    <h2><a class="nolinkstyle" href="/">Tareas</a></h2>
  </div>
</header>
<div class="table-container">
<h2> Descripción de la tarea "Semana {{ semana_tarea }}, {{ nombre_tarea }}"</h2>
<div class="flex">
<div class="img-box">{% if imagen_tarea %}<img src="/{{ imagen_tarea }}"></img>{% endif %}</div>
<div class="descripcion-box">{{ descripcion_tarea|safe }}</div>
</div>
</div>
