<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='12'%20style='filter:%20invert(58%)%20sepia(63%)%20saturate(364%)%20hue-rotate(85deg);'%3E●%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{% include 'css/estilos_tabla.css' %}
.flex-row {
  width: calc((100% - 101px) / 7);
}
.semana {
  width: 100px;
}
</style>
</head>
<body>
<header>
  <div>
    <h1></h1>
    <h2><a class="nolinkstyle" href="/">Tareas</a></h2>
  </div>
</header>
<div class="table-container">
  <div class="flex-table header">
    <div class="flex-row">Estudiante</div>
    <div class="flex-row">Curso</div>
  </div>
{% for estud in estudiantes %}
  <div class="flex-table row">
	  <div class="flex-row"><a href="/estudiante/{{ estud.id }}">{{ estud.user.first_name }} {{ estud.user.last_name }}</a></div>
    <div class="flex-row">{{ estud.cursos.all|join:', ' }}</div>
  </div>
{% empty %}
    <div>No hay estudiantes.</div>
{% endfor %}
</div>
</body>
</html>
