<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='12'%20style='filter:%20invert(58%)%20sepia(63%)%20saturate(364%)%20hue-rotate(85deg);'%3E●%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{% include 'css/estilos_tabla.css' %}
.flex-row {
  width: calc((100% - 101px) / 7);
}
.semana {
  width: 100px;
}
</style>
<noscript>
<style>
{% include 'css/estilos_tabla_noscript.css' %}
</style>
</noscript>
</head>
<header>
  <div>
    <h1></h1>
    <h2><a class="nolinkstyle" href="/">Tareas</a></h2>
  </div>
</header>
<div class="table-container">
  <div class="flex-table header">
    <div class="flex-row">Estudiante</div>
    <div class="flex-row semana">Semana</div>
    <div class="flex-row">Tarea</div>
    <div class="flex-row">Tiempo entrega</div>
    <div class="flex-row">Adjunto</div>
    <div class="flex-row">Estado</div>
    <div class="flex-row">Aceptar</div>
    <div class="flex-row">Rechazar</div>
  </div>
{% for tarea in object_list %}
  <form class="flex-table row" action="/revisar/aprobar_rechazar" method="post">
    <div class="flex-row">{{ tarea.nombre_estudiante }}</div>
    <div class="flex-row semana">{{ tarea.semana }}</div>
    <div class="flex-row">{{ tarea.nombre }}</div>
    <div class="flex-row">{{ tarea.tiempo_entrega|date:"D, j \d\e F, "|lower|default:"-" }} {{ tarea.tiempo_entrega|time:"H:i"|default:"" }}</div>
    <div class="flex-row">
      <div class="wrap"><a href="{{ tarea.adjunto_path }}">{{ tarea.adjunto|default:"" }}</a></div>
    </div>
    <div class="flex-row">
      <div>{{ tarea.estado|default:"" }}</div>
  {% if tarea.tiene_notas %}
      <div><a href="/tarea/entregada/{{ tarea.tarea_estudiante_id }}">Leer notas</a></div>
  {% endif %}
    </div>
     {% if tarea.estado == 'Entregada' %}
    <div class="flex-row">
      <input type="submit" name="aceptar" value="Aceptar" />
    </div>
    <div class="flex-row">
      <input type="submit" name="rechazar" value="Rechazar" />
    </div>
    {% else %}
    <div class="flex-row"></div>
    <div class="flex-row"></div>
    {% endif %}
    <input type="hidden" name="tarea_id" value="{{ tarea.id }}" />
    <input type="hidden" name="tarea_estudiante_id" value="{{ tarea.tarea_estudiante_id|default:"" }}" />
    {% csrf_token %}
  </form>
{% empty %}
    <div>No hay tareas todavía.</div>
{% endfor %}
</div>
</body>
</html>
