<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='12'%20style='filter:%20invert(58%)%20sepia(63%)%20saturate(364%)%20hue-rotate(85deg);'%3E●%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{% include 'css/estilos_tabla.css' %}
.alert {
  position: relative;
  padding: 1.2em 1.2em 1em;
  border: 1px solid transparent;
  margin: 0;
  font-size: 1.4em;
}
.alert-warning, .alert-warning a {
  color: #856404;
  background-color: #fbe2d6;
  border-color: #ffd7ba;
}
</style>
<noscript>
<style>
{% include 'css/estilos_tabla_noscript.css' %}
</style>
</noscript>
</head>
<body>
<header>
  <div>
    <h1></h1>
    <h2><a class="nolinkstyle" href="/">Tareas{% if curso %} - {{ curso }}{% endif %}</a></h2>
    <span class="right">{{ first_name }} {{ last_name }}</span>
  </div>
</header>
{% if messages %}{% load tareas_tags %}
<div class="messages">
  {% for msg in messages %}       
    {% if 'link' in msg.extra_tags %}
  <a class="nolinkstyle" href="{{ msg.extra_tags|startswith:'href'|slice:'5:' }}">
    {% endif %}
  <p class="alert alert-{{msg.level_tag}}" role="alert">{{ msg.message|safe }}</p>
    {% if 'link' in msg.extra_tags %}
  </a>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
<div class="table-container">
  <div class="flex-table header">
    <div class="flex-row first">Semana</div>
    <div class="flex-row second">Tarea</div>
    <div class="flex-row">Tiempo entrega</div>
    <div class="flex-row">Adjunto</div>
    <div class="flex-row">Estado</div>
    <div class="flex-row save"></div>
  </div>
{% if curso %}
  {% for tarea in tareas %}
  <form class="flex-table row" action="/adjuntar" method="post" enctype="multipart/form-data">
    <div class="flex-row first">{{ tarea.semana }}</div>
    <div class="flex-row second"><a href="/tarea/{{ tarea.id }}">{{ tarea.nombre }}</a></div>
    <div class="flex-row">{{ tarea.tiempo_entrega|date:"D, j \d\e F, "|lower|default:"-" }} {{ tarea.tiempo_entrega|time:"H:i"|default:"" }}</div>
    <div class="flex-row">
      <div class="wrap"><a href="{{ tarea.adjunto_path }}">{{ tarea.adjunto|default:"" }}</a></div>
  {% if tarea.estado != 'Aceptada' %}
      <button type="button" class="attachment">
        <span>{% if tarea.adjunto %}Actualizar{% else %}Adjuntar{% endif %}</span>
	<input name="adjunto" type="file" onchange="this.form.submit()"/>
      </button>
  {% endif %}
    </div>
    <div class="flex-row">
      <div>{{ tarea.estado|default:"" }}</div>
  {% if tarea.tiene_notas %}
      <div><a href="/tarea/entregada/{{ tarea.tarea_estudiante_id }}">Leer notas</a></div>
  {% endif %}
    </div>
    <div class="flex-row save">
      <input type="submit" value="Guardar" />
    </div>
    <input type="hidden" name="tarea_id" value="{{ tarea.id }}" />
    <input type="hidden" name="tarea_estudiante_id" value="{{ tarea.tarea_estudiante_id|default:"" }}" />
    {% csrf_token %}
  </form>
  {% empty %}
    <div>No hay tareas todavía.</div>
  {% endfor %}
{% else %}
    <div>Usted no ha sido registrado en un curso todavía.</div>
{% endif %}
</div>
</body>
</html>
