* {
    box-sizing: border-box;
}
*, :active, :focus, :hover {
    outline: 0;
}
body {
    font-family: Roboto,sans-serif;
    padding-top: 4em;
    background-color: #fafafa;
    color: #333;
    margin: 0;
}
header {
    background: #f0f0f0 !important;
    height: 74px !important;
    border-bottom: 1px solid #ccc;
}
header {
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px;
    display: flex;
}

header > div:first-child {
    height: 4em;
}
header > div {
    display: flex;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0em;
    -moz-box-align: center;
    align-items: center;
}
.nolinkstyle {
  text-decoration: none;
  color: inherit;
}
header h2 {
  padding: 18px 0px 0px;
}
h1 {
    display: inline !important;
    vertical-align: middle;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 2.5em !important;
    padding: 18px 10px 5px 10px;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h2 {
    color: #6f6f6f;
}
.right {
  margin-left: auto;
  align-self: end;
}
.table-container {
  display: block;
  margin: 2em auto;
  margin-top: 4em;
  width: 90%;
  max-width: 1400px;
}

.flag-icon {
  margin-right: 0.1em;
}

.flex-table {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  border-left: solid 1px #d9d9d9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.row {
  margin-bottom: 0;
}
.flex-table.header .flex-row {
  background: #51b26e;
  color: white;
  border-color: #d9d9d9;
}
.flex-table.row:nth-child(odd) .flex-row {
  background: #f4f2f1;
}
.flex-table:hover {
  background: #F5F5F5;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.flex-row {
  width: calc((100% - 101px) / 4);
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
}

.rowspan {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
          justify-content: center;
}

.column {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  width: 75%;
  padding: 0;
}
.column .flex-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: solid 1px #d9d9d9;
}
.column .flex-row:hover {
  background: #F5F5F5;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.flex-cell {
  width: calc((100% - 251px) / 4);
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
}

.wrap {
  word-break: break-word;
}

@media all and (max-width: 970px) {
  .flex-row {
    width: calc(100% / 3);
  }
  .flex-row.first, .flex-row.second {
    border-bottom: solid 1px #d9d9d9;
  }
  .flex-row.second {
    width: calc(100% - 101px);
  }

  .column {
    width: 100%;
  }
}
@media all and (max-width: 490px) {
  header h2 {
    font-size: 0.9em;
  }
  .flex-table .flex-row {
    border-bottom: 0;
  }
  .flex-table .flex-row:last-of-type {
    border-bottom: solid 1px #d9d9d9;
  }
  .flex-row.first, .flex-row.second {
    border-bottom: solid 1px #d9d9d9;
    border-top: solid 1px #d9d9d9;
  }

  .header .flex-row {
    border-bottom: solid 1px;
  }

  .flex-row.second {
    width: calc(100% - 101px);
  }
  .flex-row {
    width: 100%;
  }

  .column {
    width: 100%;
  }
  .column .flex-row {
    border-bottom: solid 1px #d9d9d9;
  }

  .flex-cell {
    width: 100%;
  }
}
.attachment {
  position: relative;
  overflow: hidden;
  margin: 10px 0 10px 0;
}
.attachment input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); 
}
.flex-row.first {
  width: 100px;
}
.save {
  display: none;
}
