.flex-row {
  width: calc((100% - 251px) / 4);
}
.flex-row.save {
  width: 150px;
  display: block;
}
@media all and (max-width: 970px) {
  .flex-row {
    width: calc((100% - 151px) / 3);
  }
  .flex-row.first, .flex-row.second {
    border-bottom: solid 1px #d9d9d9;
  }
  .flex-row.second {
    width: calc(100% - 101px);
  }
  .column {
    width: 100%;
  }
}
@media all and (max-width: 490px) {
  .flex-table .flex-row {
    border-bottom: 0;
  }
  .flex-table .flex-row:last-of-type {
    border-bottom: solid 1px #d9d9d9;
  }
  .flex-row.first, .flex-row.second {
    border-bottom: solid 1px #d9d9d9;
    border-top: solid 1px #d9d9d9;
  }

  .flex-row.save {
    display: none;
  }

  .header .flex-row {
    border-bottom: solid 1px;
  }

  .flex-row.second {
    width: calc(100% - 101px);
  }
  .flex-row {
    width: 100%;
  }

  .column {
    width: 100%;
  }
  .column .flex-row {
    border-bottom: solid 1px #d9d9d9;
  }

  .flex-cell {
    width: 100%;
  }
  .flex-row.save {
    width: 100%;
  }
}
